<!DOCTYPE html>

<head>
	<title>Worth It?</title>
	<link rel="stylesheet" type="text/css" href="public/assets/css/reset.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans|Roboto|Titan+One|Roboto+Condensed|Lato" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="./public/assets/css/style.css" type="text/css">
</head>

<style id="criticKeyframe">
	@keyframes criticLoad {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
</style>

<style id="criticSwitch">
	.progress.critic .progress-left .progress-bar {
		animation: criticLoad 1.5s linear forwards 1.8s;
	}
</style>

<style id="generalKeyframe">
	@keyframes generalLoad {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
</style>

<style id="generalSwitch">
	.progress.general .progress-left .progress-bar {
		animation: generalLoad 1s linear forwards 1.8s;
	}
</style>

<style id="userKeyframe">
	@keyframes userLoad {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(36deg);
			transform: rotate(36deg);
		}
	}
</style>

<style id="userSwitch">
	.progress.users .progress-left .progress-bar {
		animation: userLoad 0.4s linear forwards 1.8s;
	}
</style>


{{{body}}}

</html>