@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {

	color: #333;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	background: #eee;

	background: url("../images/krists-luhaers-543526-unsplash.jpg") no-repeat center center fixed; 
	background-size: cover;
	height: 100vh;
	box-sizing: initial;

	--badmovie: #9C0D38;
	--goodmovie: #8EA604;
	--neumovie: #5F0F40;
	--warnmovie: #F75C03;
	--keycolor: #337CA0;

	--badmoviebg: rgba(156, 13, 56, 0.9);
	--goodmoviebg: rgba(142, 166, 4, 0.9);
	--neumoviebg: rgba(95, 15, 64, 0.9);
	--warnmoviebg:rgba(247, 92, 3, 0.9);
	--keycolorbg: rgba(51, 124, 160, 0.9);
	font-size:16px;
}

div, p, span {
	font-size: 16px;
}

.whiteTxt {
	color: white;
}

#movieColorBad{
	background: linear-gradient(rgba(156, 13, 56, 0.9), rgba(156, 13, 56, 0.9)),
	url("../images/krists-luhaers-543526-unsplash.jpg") no-repeat center center fixed; 
	background-size: cover;
	/* height: 100vh;
	box-sizing: initial; */
}

#movieColorKey{
	background: linear-gradient(rgba(142, 166, 4, 0.9), rgba(142, 166, 4, 0.9)),
	url("../images/krists-luhaers-543526-unsplash.jpg") no-repeat center center fixed; 
	background-size: cover;
	/* height: 100vh;
	box-sizing: initial; */
}

#movieColorNeutral{
	background: linear-gradient(rgba(95, 15, 64, 0.9), rgba(95, 15, 64, 0.9)),
	url("../images/krists-luhaers-543526-unsplash.jpg") no-repeat center center fixed; 
	background-size: cover;
	/* height: 100vh;
	box-sizing: initial; */
}

#movieColorWarning{
	background: linear-gradient(rgba(247, 92, 3, 0.9), rgba(247, 92, 3, 0.9)),
	url("../images/krists-luhaers-543526-unsplash.jpg") no-repeat center center fixed; 
	background-size: cover;
	/* height: 100vh;
	box-sizing: initial; */
}

#movieColorGood{
	background: linear-gradient(rgba(51, 124, 160, 0.9), rgba(51, 124, 160, 0.9)),
	url("../images/krists-luhaers-543526-unsplash.jpg") no-repeat center center fixed; 
	background-size: cover;
	/* height: 100vh;
	box-sizing: initial; */
}

#headerImg {
	max-height: 60px;
	max-width: auto;
	margin-left: 5%;
}

ul a {
	text-decoration: none;
	color: white;
}

ul a:hover, a:active{
	text-decoration: none;
	color: white;
}

#loginButton {
	max-height: 55px;
	max-width: auto;
	border-radius: 50%;
	background-color: #337CA0;
	border-width: 10px;
	border-style: solid;
	border-color: #337CA0;
}

/* header {
	margin-bottom: 15vh;
} */

.label{
	padding-top: 5px;
}

#mainPageSplash {
	max-width: 90%;
	max-height: auto;
	background: rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-radius: 50%;
	border-color: rgba(0, 0, 0, 0.5);
	border-width: 10px;
}

#title {
	height: 200px;
	width: auto;
	display: block;
	align-items: center;
	margin-top: 4vh;
	margin-bottom: 4vh;
	margin-left: auto;
	margin-right: auto;
}

#searchBar {
	border-radius: 2rem;
	overflow: hidden;
	border: 1px white solid;
}

.fa-search {
	color:white;
}

.fa-star {
	color: white;
	font-size: 2rem;
	
}

.favStar {
	position: absolute;
	right: 20px; 
	top: 5px;
	cursor: pointer;
	z-index: 2;
	color: #333;

}


.rating-container .filled-stars{
	color:goldenrod;
	-webkit-text-stroke: 2px #000; 
	text-shadow: 0px 0px #999; 
	line-height: 10px;
}

#filledStar{
	color:goldenrod;
}

input#input-id {
    display: none;
}

.glyphicon


#favorited, .favorited {
	color: goldenrod;
}

#imageBox {
	position: relative;
	display: block;
	z-index: 1;
	background: url(../images/pre-loader.gif) no-repeat center;
    min-width: 100px;
    min-height: 100px;
    background-size: 50%;
}


#searchBlack, #searchBlackIcon, #searchBlackDiv {
	color: white;
	background-color:  rgba(0, 0, 0, 0.75);
	border: 0px;
}

#searchBlack:active{
    outline:0px !important;
    -webkit-appearance:none;
}

#searchBlack:focus{
    outline:0px !important;
    -webkit-appearance:none;
}

#searchBlack:hover{
	outline:0px !important;
    -webkit-appearance:none;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.nowrap {
	/* white-space: nowrap; */
	display: inline;
	text-overflow: ellipsis;
}

.overflowEllipsis{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
}

#splashPageHeader {
	background-color:  rgba(0, 0, 0, 0.75);
	height: 10vh;
	margin-bottom: 17vh; 
	padding-right: 5%;
}

#contentPageHeader {
	background-color:  rgba(0, 0, 0, 0.75);
	height: 10vh;
	margin-bottom: 5rem; 
	padding-right: 5%;
}

#dialGraphRow {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#limitImage {
	display: block;
	float: left;
	z-index: 1;
	position: relative;
	width: 100%;
}

#splashPageFooter {
	background-color:  rgba(0, 0, 0, 0.75);
	height: 25vh;
	margin-top:10vh;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 10vh;
}

#commentsRow {
	margin-bottom: 2rem;
	margin-top: 1rem;
}

#tallerComments {
	height: 10rem;
	/* color: black; */
	color:white;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

form textarea{
	background-color:  rgba(0, 0, 0, 0.75);
}

button {
	font-size:12;
}

#reviewRow {
	margin-top: 2rem;
	margin-bottom: 4rem;
}

#btn-apple {
	background-color: #8EA604;
	color:white;
	width: 100%;
	font-size: 12pt;

}

#btn-crimson {
	background-color: #9C0D38;
	color:white;
	width: 100%;
	padding: 5px;
	font-size: 12pt;

}

#btn-orange {
	background-color: #F75C03;
	color:white;
	width: 100%;
	padding: 5px;
	font-size: 12pt;

}

#btn-blue {
	background-color: #337CA0;
	color:white;
	width: 100%;
	padding: 5px;
	font-size: 12pt;
}

#btn-purple {
	background-color: #5F0F40;
	color:white;
	width: 100%;
	padding: 5px;
	font-size: 12pt;

}


#searchResultsImg {
	display: block;
}



#errorHeader {
	font-family: 'Alfa Slab One', cursive;
	color: white;
}

#errorMessage {
	font-family: 'Alfa Slab One', cursive;
	color: white;
}


#searchResultsOrdinal {
	font-size: 150%;
	font-family: 'Alfa Slab One', cursive;

}

#searchTitle {
	font-family: 'Alfa Slab One', cursive;

}

.image-cropper {
    max-width: 100px;
    height: auto;
    position: relative;
	overflow: hidden;
	clip-path: circle();
	
}

.image-cropper img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 150%; 
    margin: 0 0 0 -25%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
	border-radius: 50%;  
	border-color: #000;
	border-width: 1px;
	border-style: solid;
}

.starCheckBox {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    color: goldenrod;
}
.starCheckBox:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.starCheckBox:checked:before {
   content: "\2606";
   position: absolute;
}

/* bootstrap template for login */

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
#remember{
	color: #000
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
	padding-left: 10px;
	padding-right: 10px;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
	padding-left: 10px;
	padding-right: 10px;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.bTxt {
	color: black;
}

.formSpace {
	margin-top: 20px;
}

/*modal*/

.modal-content{
	background-color: #000;
	color: white;
	border-radius: 0px;
  }
  
  .modal-header{
	border-bottom: 0px solid #333;
  }
  
  .modal-footer {
	border-top: 0px solid #333;
  }
  
  .modal-body {
	 background-color: rgba(156, 13, 56, 0.3);
  }
  
  .close {
	color: white;
  }
  
  .close:hover{
	color:white;
  }
  
  .close:active{
	color:white;
  }

  #movieInfo {
	  background-color: rgba(0, 0, 0, 0.5);
	  padding: 2rem;
	  border-radius: 5px;
  }

  #biggerTxt {
	  font-size: 125%;
	  font-family: 'Alfa Slab One', cursive;

  }

  #starringTxt {
	  font-size: 70%;

  }

  /*COMMENT BOX*/

  .commentAuthor {
	  width: 100%;
	  text-align: left;
	  font-family: 'Alfa Slab One', cursive;
	  font-size: 22px;
	  padding-left: 15px;
	  padding-right: 15px;
  }
  
  .commentText {
	  width: 100%;
	  font-family: 'Roboto Condensed', sans-serif;
	  padding-left: 15px;
	  padding-right: 15px;
	  margin-top: 8px;
	  margin-bottom: 8px;
  }

  .commentVerdict {
	font-family: 'Alfa Slab One', cursive;
	font-size: 22px;
	padding-left: 15px;
	padding-right: 15px;
  }

  #commentVerdictOut {
	font-family: 'Alfa Slab One', cursive;
	font-size: 22px;
	color: goldenrod;
	padding-left: 15px;
	padding-right: 15px;
  }

  .commentsBlack {
	  color:white;
	  background-color: rgba(0, 0, 0, 0.5);
	  padding-left: 15px;
	  padding-right: 15px;
  }

  /*animations*/

.spinLoading {
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes rollIn {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	  transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes rollIn {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	  transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 1s;
  }

  /*thumbs-up & down for worthit*/

  input[type=radio].with-thumbsup {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
input[type=radio].with-thumbsup ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f164";
    letter-spacing: 10px;
    font-size: 3.2em;
    color: #fff;
	width: 1.2em;
	/* -webkit-text-stroke: #000 1px; */
}

input[type=radio].with-thumbsup:checked ~ label:before {
    content: "\f164";
    font-size: 3.2em;
    color: goldenrod;
	letter-spacing: 5px;
	/* -webkit-text-stroke: #000 1px; */

}

input[type=radio].with-thumbsup:focus ~ label:before,
input[type=radio].with-thumbsup:focus ~ label
{                
    color: goldenrod;
}

input[type=radio].with-thumbsdown {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
input[type=radio].with-thumbsdown ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f165";
    letter-spacing: 10px;
    font-size: 3.2em;
    color: #fff;
	width: 1.2em;
	/* -webkit-text-stroke: #000 1px; */
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

input[type=radio].with-thumbsdown:checked ~ label:before {
    content: "\f165";
    font-size: 3.2em;
    color: goldenrod;
	letter-spacing: 5px;
	/* -webkit-text-stroke: #000 1px; */
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

input[type=radio].with-thumbsdown:focus ~ label:before,
input[type=radio].with-thumbsdown:focus ~ label
{                
    color: goldenrod;
}

#labelPInput {
	margin-right: 0px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 2.2em;
	/* -webkit-text-stroke: #000 1px; */
}

  /* heres when i break things */

  .progress{
    width: 100px;
    height: 100px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
	background: #44484b;
	font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 90px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.critic .progress-bar{
    border-color: #8EA604;
}

.progress.general .progress-bar{
    border-color: #86BBD8;
}

.progress.users .progress-bar{
    border-color: #F75C03;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media only screen and (max-width: 990px){
	*, ::after, ::before {
		font-size: 20px;
	};
	.progress{ margin-bottom: 20px; };
}

@media only screen and (max-width: 1252px ) and ( min-width: 991px){
    *, ::after, ::before {
		font-size: 30px;
	}
}

